@inject NavigationManager NavigationManager

<ul id="navbar" class='@(NavigationBarClassName + " w-100")'>
    <li class='@ItemClass("Home")'>
        <NavLink  href="/home">
            <i class="bi bi-house"></i>
            <span>Trang chủ</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Customer")'>
        <NavLink  href="/CustomerList">
            <i class="bi bi-person-circle"></i>
            <span>@DisplayNames.Customer</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Product")'>
        <NavLink  href="/home">
            <i class="bi bi-box-seam"></i>
            <span>@DisplayNames.Product</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Supply")'>
        <NavLink  href="/home">
            <i class="bi bi-truck"></i>
            <span>@DisplayNames.Supply</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Order")'>
        <NavLink  href="/orders">
            <i class="bi bi-cart4"></i>
            <span>@DisplayNames.Order</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Treatment")'>
        <NavLink  href="/home">
            <i class="bi bi-magic"></i>
            <span>@DisplayNames.Treatment</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Consultant")'>
        <NavLink  href="/Consultant">
            <i class="bi bi-patch-question"></i>
            <span>Tư vấn</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Stock")'>
        <NavLink  href="/home">
            <i class="bi bi-archive"></i>
            <span>Kho hàng</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Debt")'>
        <NavLink  href="/Debt">
            <i class="bi bi-hourglass-bottom"></i>
            <span>Khoản nợ</span>
        </NavLink>
    </li>
    <li class='@ItemClass("Expense")'>
        <NavLink  href="/Expense">
            <i class="bi bi-cash-coin"></i>
            <span>@DisplayNames.Expense</span>
        </NavLink>
    </li>
    <li class='@ItemClass("User")'>
        <NavLink href="/User">
            <i class="bi bi-person-badge"></i>
            <span>@DisplayNames.User</span>
        </NavLink>
    </li>
</ul>

@code {
    [Parameter]
    public bool KeepExpanded { get; set; }

    private string CurrentRouteName { get; set; }
    private string NavigationBarClassName => KeepExpanded ? "keep-expanded" : null;

    protected override void OnInitialized()
    {
        CurrentRouteName = NavigationManager
            .ToBaseRelativePath(NavigationManager.Uri)
            .Split("/")
            .First()
            .ToLower();
    }

    private string ItemClass(string itemName)
    {
        if (itemName == "Home" && CurrentRouteName == string.Empty)
        {
            return "selected";
        }
        
        if (CurrentRouteName == itemName.ToLower())
        {
            return "selected";
        }
        
        return null;
    }
}