@model UserSecondaryListModel
@{
    Layout = "Layout/MainBlockLayout";
    ViewBag.BlockTitle = "Nhân viên mới gia nhập";
    ViewBag.BlockBodyClass = "p-0";
}

@if (Model != null && Model.Count > 0)
{
    <ul class="list-group list-group-flush joined-recently-user-list">
        @foreach (UserBasicModel user in Model.Items)
        {
            <li class="list-group-item d-flex flex-row align-items-center
                        bg-transparent px-3 py-2">
                <a asp-action="UserDetail" asp-controller="User" asp-route-id="@user.Id">
                    <img src="@user.AvatarUrl" class="rounded-circle me-2 user-avatar">
                </a>
                <div class="d-flex flex-column align-items-start flex-fill name">
                    <a asp-action="UserDetail" asp-controller="User" asp-route-id="@user.Id">
                        <span class="small">@user.FullName</span>
                    </a>
                    <span class="small opacity-50">@user.UserName</span>
                    <span class="bg-success-subtle px-2 py-1 border border-success-subtle
                                rounded-3">
                        @if (Model.)
                    </span>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="d-flex align-items-center justify-content-center p-3 opacity-50">
        Không có thành viên mới
    </div>
}