@model List<BreadcrumbItemModel>?
@{
    string? ComputeItemClassName(bool isLast)
    {
        List<string> classNames = new();
        classNames.Add(!isLast ? "hidden sm:inline" : "text-lg sm:text-base pointer-events-none");

        return classNames.Count > 0 ? string.Join(" ", classNames) : null;
    }
}

<div class="flex flex-wrap gap-3 items-center ms-2 lg:ms-3 translate-y-[7.5%] h-8">
    <div class="flex gap-3 items-center">
        <i class="bi bi-house"></i>
        <a asp-controller="Dashboard" asp-action="Index" class="text-lg sm:text-base hidden sm:inline">
            <span>Trang chủ</span>
        </a>
    </div>

    @if (Model is not null)
    {
        @for (int index = 0; index < Model.Count; index++)
        {
            BreadcrumbItemModel itemModel = Model[index];
            bool isLast = index == Model.Count - 1;
            <div class="gap-3 items-center @(!isLast ? "hidden sm:flex" : "flex")">
                <i class="bi bi-chevron-right"></i>
                <a href="@itemModel.Url" class="@ComputeItemClassName(isLast)">
                    <span class="hidden sm:inline">@itemModel.Name</span>

                    @if (isLast)
                    {
                        <span class="text-lg inline sm:hidden">@ViewBag.PageTitle</span>
                    }
                </a>
            </div>
        }
    }
</div>