@using NATSInternal.Domain.Features.Customers
@model CustomerListModel
@{
    Layout = "Pages/_ListPageLayout";
    ViewBag.PageTitle = "Danh sách khách hàng";
    ViewBag.BreadcrumbItems = new List<BreadcrumbItemModel>
    {
        new("Khách hàng", Url.Action("List", "Customer"))
    };
    
    ViewBag.CreateRoutePath = Url.Action("Create", "Customer");
}

@if (Model.Items.Count > 0)
{
    <div class="overscroll-x-none h-fit overflow-x-auto">
        <table id="customer-list-page-table" class="data-table data-table-cell-content-nowrap">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Items[0].FullName)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].NickName)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].Gender)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].Birthday)</th>
                    <th>@Html.DisplayNameFor(m => m.Items[0].DebtRemainingAmount)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CustomerListCustomerModel customer in Model.Items)
                {
                    <tr>
                        <!-- FullName -->
                        <td>
                            <a asp-action="Detail" asp-route-id="@customer.Id" class="font-bold">
                                @customer.FullName
                            </a>
                        </td>

                        <!-- NickName -->
                        <td>
                            @if (customer.NickName is not null)
                            {
                                <span class="opacity-50">@customer.NickName</span>
                            }
                        </td>

                        <!-- Gender -->
                        <td class="@(customer.Gender == Gender.Male ? "gender-male" : "gender-female")">
                            @Html.DisplayGender(customer.Gender)
                        </td>
                        
                        <!-- PhoneNumber -->
                        <td>
                            @Html.DisplayPhoneNumber(customer.PhoneNumber)
                        </td>
                        
                        <!-- FormattedBirthday -->
                        <td>
                            @Html.DisplayDateOnly(customer.Birthday)
                        </td>
                        
                        <!-- DebtRemainingAmount -->
                        <td class="@(customer.DebtRemainingAmount == 0 ? "opacity-25" : null)">
                            @Html.DisplayCurrency(customer.DebtRemainingAmount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="flex justify-center items-center px-3 py-10 opacity-50">
        Không tìm thấy kết quả
    </div>
}

@section PageDescription
{
    Danh sách các khách hàng đã và đang giao dịch với cửa hàng.
}