@{
    ViewBag.BreadcrumbVisible = true;
}

@functions {
    private string ClassNameIfSelected(string pageName)
    {
        if (ViewBag.CurrentPageName == pageName)
        {
            return "bg-primary text-white selected shadow";
        }
        return string.Empty;
    }
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <title>@await RenderSectionAsync("PageTitle") - NATSAdmin</title>
    <link href="~/css/admin/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>

    @await RenderSectionAsync("Meta", required: false)
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <div class="container-fluid p-0 m-0">
        <!-- Side bar and main content row -->
        <div class="row justify-content-center g-0" id="root-col">
            <!-- Sidebar -->
            <div id="side-bar" class="col-auto m-0 p-0">
                @* @await Component.InvokeAsync("CurrentUserAccount") *@
                <ul class="navigation-bar">
                    <a asp-action="Index" asp-controller="Home" target="_blank" rel="noopener noreferrer">
                        <li>
                            <i class="bi bi-house"></i>
                            <span>Trang chủ</span>
                        </li>
                    </a>
                    <a asp-action="Dashboard" asp-controller="Admin" class='@ClassNameIfSelected("Dashboard")'>
                        <li>
                            <i class="bi bi-ui-checks-grid"></i>
                            <span>Điều khiển</span>
                        </li>
                    </a>
                    <a asp-action="Content" asp-controller="Admin" class='@ClassNameIfSelected("Content")'>
                        <li>
                            <i class="bi bi-body-text"></i>
                            <span>Nội dung</span>
                        </li>
                    </a>
                    <a asp-action="List" asp-controller="AdminPost" asp-route-page="1"
                        class='@ClassNameIfSelected("Posts")'>
                        <li>
                            <i class="bi bi-file-earmark-post"></i>
                            <span>Bài viết</span>
                        </li>
                    </a>
                    <a asp-action="GeneralSettings" asp-controller="Admin"
                        class='@ClassNameIfSelected("GeneralSettings")'>
                        <li>
                            <i class="bi bi-gear-wide-connected"></i>
                            <span>Cài đặt</span>
                        </li>
                    </a>
                    <a asp-action="List" asp-controller="AdminEnquiry" class='@ClassNameIfSelected("Enquiries")'>
                        <li>
                            <i class="bi bi-patch-question"></i>
                            <span>Câu hỏi</span>
                        </li>
                    </a>
                    <a asp-action="Logout" asp-controller="Authentication">
                        <li>
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng xuất</span>
                        </li>
                    </a>
                </ul>
            </div>

            <!-- Center column (for breadcrumb and content) -->
            <div class="col container-fluid h-100 p-0 m-0" id="main-layout">
                <div class="row h-100 m-0 p-0 justify-content-center align-content-start">
                    <div class="col col-12 m-0 p-4 ps-4 pb-2 d-flex flex-row align-items-end" id="breadcrumb">
                        @await RenderSectionAsync("Breadcrumb", required: false)
                    </div>
                    <div class="col p-0 m-0" id="main-layout-col">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile navigation bar row -->
    <div class="row justify-content-center g-0 p-0 bg-white bg-opacity-75 w-100" id="mobile-navigation-bar">
        <div class="col col-auto d-flex align-items-center px-2">
            <a asp-action="Index" asp-controller="Home" class="navigation-bar-button text-default" target="_blank"
                rel="noopener noreferrer">
                <i class="bi bi-house"></i><br />
                <span>Trang chủ</span>
            </a>
        </div>
        <div class="col col-auto d-flex align-items-center px-2">
            <a asp-action="Content" asp-controller="Admin" class="navigation-bar-button text-default">
                <i class="bi bi-body-text"></i><br />
                <span>Nội dung</span>
            </a>
        </div>
        <div class="col col-auto d-flex align-items-center px-2">
            <a asp-action="Dashboard" asp-controller="Admin"
                class="navigation-bar-button text-white bg-primary primary">
                <i class="bi bi-ui-checks-grid"></i><br />
            </a>
        </div>
        <div class="col col-auto d-flex align-items-center px-2">
            <a asp-action="List" asp-controller="AdminPost" asp-route-page="1"
                class="navigation-bar-button text-default">
                <i class="bi bi-file-earmark-post"></i><br />
                <span>Bài viết</span>
            </a>
        </div>
        <div class="col col-auto d-flex align-items-center px-2">
            <div class="btn-group dropup">
                <button type="button" class="navigation-bar-button text-default border-0" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-menu-up"></i><br />
                    <span>Menu</span>
                </button>
                <ul class="dropdown-menu border-default shadow-lg">
                    <li>
                        <a asp-action="GeneralSettings" asp-controller="Admin" class="dropdown-item">
                            <i class="bi bi-gear-wide-connected me-2"></i>
                            <span>Cài đặt</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="List" asp-controller="AdminEnquiry" class="dropdown-item">
                            <i class="bi bi-patch-question me-2"></i>
                            <span>Câu hỏi</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a asp-action="Logout" asp-controller="Authentication" class="dropdown-item text-danger">
                            <i class="bi bi-gear-wide-connected me-2"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>