@model CustomerBasicModel

<div class="panel">
    <div class="panel-header">
        <div class="panel-header-title">
            Người giới thiệu
        </div>
    </div>

    <div class="panel-body p-3">
        <div class="flex items-center gap-3 flex-1">
            <img src="@Model.AvatarUrl"
                    class="img-thumbnail size-14"
                    alt="@Model.FullName" />
            
            <div class="flex-1">
                <a asp-new-tab="@true"
                        asp-action="Detail"
                        asp-controller="Customer"
                        asp-route-id="@Model.Id"
                        class="text-lg font-bold">
                    @Model.FullName
                </a>
                <br/>
                <span class="text-sm opacity-50">
                    @Model.NickName
                </span>
            </div>
        </div>
    </div>
</div>