@model CustomerDetailModel
@functions {
    private string? CreatedDateTimeMarginClassName =>
        Model.LastUpdatedUser is not null || Model.LastUpdatedDateTime.HasValue ? null : "mb-0";
    
    private string? LastUpdatedUserMarginClassName => Model.LastUpdatedDateTime.HasValue ? null : "mb-0";
    
    private object? RenderUser(UserBasicModel user)
    {
        @if (!user.IsDeleted)
        {
            <a href="@Model.CreatedUser.GetDetailRoute(Url)">
                @@@Html.DisplayFor(m => m.CreatedUser.UserName)
            </a>
        }
        else
        {
            <span class="line-through">
                Tài khoản đã bị xoá
            </span>
        }

        return null;
    }
}

<div class="panel flex-1">
    <div class="panel-header">
        <div class="panel-header-title">
            Quản lý
        </div>
    </div>
    
    <div class="panel-body px-3 pt-3 pb-2">
        <div class="field-container">
            <!-- CreatedUser -->
            <div class="field-label">@Html.DisplayNameFor(m => m.CreatedUser)</div>
            <div class="field-content">
                @RenderUser(Model.CreatedUser)
            </div>
        
            <!-- CreatedDateTime -->
            <div class="field-label">@Html.DisplayNameFor(m => m.CreatedDateTime)</div>
            <div class="field-content @CreatedDateTimeMarginClassName">
                @Html.DisplayDateTime(Model.CreatedDateTime)
            </div>
            
            <!-- LastUpdatedUser -->
            @if (Model.LastUpdatedUser is not null)
            {
                <div class="field-label">@Html.DisplayNameFor(m => m.LastUpdatedUser)</div>
                <div class="field-content @LastUpdatedUserMarginClassName">
                    @RenderUser(Model.LastUpdatedUser)
                </div>
            }
        
            <!-- LastUpdatedDateTime -->
            @if (Model.LastUpdatedDateTime.HasValue)
            {
                <div class="field-label">@Html.DisplayNameFor(m => m.LastUpdatedDateTime)</div>
                <div class="field-content mb-0">
                    @Html.DisplayDateTime(Model.LastUpdatedDateTime)
                </div>
            }
        </div>
    </div>
</div>