@namespace NATSInternal.Blazor.Components.User.Detail

<div class="block block-avatar-name bg-white rounded-3
            overflow-hidden border border-primary-subtle row">
    <div class="col col-12 upper bg-primary-subtle border-bottom border-primary p-0">
        <img src="@Model.PersonalInformation.AvatarUrl"
                class="avatar img-thumbnail border-primary-subtle">
    </div>
    <div class="col lower bg-white d-flex">
        <div class="name d-flex flex-column flex-fill">
            <span class="fullname">
                @Model.PersonalInformation.FullName
            </span>
            <span class="username">@("@" + Model.UserName)</span>
        </div>
    </div>
    <div class="col col-md-auto col-sm-12 col-12 action-buttons-container
                px-3 pt-md-0 pt-2 pb-md-0 pb-3">
        @if (Model.Authorization.CanEdit)
        {
            <NavLink href="@Model.UpdateRoute" class="btn btn-outline-primary btn-sm m-1">
                <i class="bi bi-pencil-square"></i>
                <span class="ms-2">Chỉnh sửa</span>
            </NavLink>
        }

        @if (Model.Authorization.CanChangePassword)
        {
            <NavLink href="@Model.PasswordChangeRoute"
                    class="btn btn-outline-primary btn-sm m-1">
                <i class="bi bi-key"></i>
                <span class="ms-2">Đổi mật khẩu</span>
            </NavLink>
        }

        @if (Model.Authorization.CanResetPassword)
        {
            <NavLink href="@Model.PasswordResetRoute"
                    class="btn btn-outline-primary btn-sm m-1">
                <i class="bi bi-key"></i>
                <span class="ms-2">Đặt lại mật khẩu</span>
            </NavLink>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public UserDetailModel Model { get; set; }
}