@using NATSInternal.Blazor.Components.Form
@namespace NATSInternal.Blazor.Components.User.Detail
@inject RoleHelper RoleHelper

<MainBlock Title="Thông tin nhân viên" BodyPadding="@((2, 2, 2, 2))">
    <BlockBodyContent>
        <div class="row gx-3">
            <!-- Role -->
            <div class="col col-12">
                <FieldLabel Text="Vị trí" />
            </div>
            <div class="col field">
                <span class="badge border @RoleBadgeClass()">
                    @Model.Role.DisplayName
                </span>
            </div>
        </div>

        <!-- JoiningDate -->
        @if (Model.JoiningDate.HasValue)
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Gia nhập" />
                </div>
                <div class="col field">
                    <span>@Model.JoiningDate.Value.ToVietnameseString()</span>
                </div>
            </div>
        }

        <!-- CreatedDateTime -->
        <div class="row gx-3 mt-3">
            <div class="col col-12">
                <FieldLabel Text="Tạo lúc" />
            </div>
            <div class="col field">
                <span>@Model.CreatedDateTime.ToVietnameseString()</span>
            </div>
        </div>

        <!-- UpdatedDateTime -->
        @if (Model.UpdatedDateTime.HasValue)
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Chỉnh sửa lúc" />
                </div>
                <div class="col field">
                    <span>@Model.UpdatedDateTime</span>
                </div>
            </div>
        }

        <!-- Note -->
        @if (ShouldRenderNote())
        {
            <div class="row gx-3 mt-3">
                <div class="col col-12">
                    <FieldLabel Text="Ghi chú" />
                </div>
                <div class="col field">
                    <span>@Model.Note</span>
                </div>
            </div>
        }
    </BlockBodyContent>
</MainBlock>

@code {
    [Parameter, EditorRequired]
    public UserUserInformationModel Model { get; set; }

    [Parameter, EditorRequired]
    public UserDetailAuthorizationModel Authorization { get; set; }

    public string RoleBadgeClass()
    {
        string color = RoleHelper.GetRoleBootstrapColor(Model.Role.Name);
        return $"bg-{color}-subtle border-{color}-subtle text-{color}";
    }

    public bool ShouldRenderNote()
    {
        return Model.Note != null && Authorization.CanGetNote;
    }
}
