@functions {
    private string HeaderClass
    {
        get
        {
            string color = ViewBag.BlockColor ?? "primary";
            string className = $"bg-{color}-subtle border-{color}-subtle";
            if (ViewBag.BlockHeaderClass != null)
            {
                className += $" {ViewBag.BlockHeaderClass}";
            }

            return className;
        }
    }

    private string HeaderTitleClass => $"text-{ViewBag.BlockColor ?? "primary"}";

    private string BodyClass
    {
        get
        {
            string className = "p-3";
            Console.WriteLine(ViewBag.BlockBodyClass);
            if (ViewBag.BlockBodyClass != null)
            {
                className += $" {ViewBag.BlockBodyClass}";
            }

            return className;
        }
    }
}

<div class="block bg-white rounded-3 p-0 d-flex flex-column border">
    <!-- Header -->
    <div class="block-header bg-opacity-25 border ps-3 p-2 rounded-top-3
                d-flex align-items-center @HeaderClass">
        <div class="small fw-bold flex-fill me-2 pt-1 @HeaderTitleClass">
            @((ViewBag.BlockTitle as string).ToUpper())
        </div>
        @RenderSection("Header", required: false)
    </div>
    
    <!-- Body -->
    <div class="rounded-bottom-3 flex-fill @BodyClass">
        @RenderBody()
    </div>
</div>