@model AbstractListModel
@{
    Layout = "Layouts/_MainContainer";
    if (ViewBag.CreateRoutePath is null)
    {
        throw new InvalidOperationException($"[ViewVag.{nameof(ViewBag.CreateRoutePath)}] has not been set.");
    }

    int[] resultsPerPageOptions = new[] { 10, 15, 20, 30, 40, 50 };
}

<form asp-controller="Customer"
        asp-action="List"
        method="get"
        id="searchable-list-filter-form"
        class="flex flex-col items-strech gap-3">
    <!-- FilterPanel -->
    <div class="panel">
        <!-- FilterPanelHeader -->
        <div class="panel-header">
            <div class="panel-header-title">
                Tìm kiếm và sắp xếp
            </div>
        </div>

        <!-- FilterPanelBody -->
        <div class="panel-body">
            <div class="flex flex-col items-stretch gap-3 p-3">
                <div class="grid grid-cols-[1fr_auto_auto] gap-3">
                    <input asp-for="SearchContent"
                            type="text"
                            placeholder="Tìm kiếm"
                            class="form-control"/>
                    <button type="submit" class="btn gap-1">
                        <i class="bi bi-search"></i>
                        <span class="hidden sm:inline">Tìm kiếm</span>
                    </button>
                    <button type="button" class="collapsible-toggler btn gap-1" target-id="advanced-options-container">
                        <i class="bi bi-filter-left"></i>
                        <span class="hidden sm:inline">Sắp xếp</span>
                    </button>
                </div>

                <div id="advanced-options-container" class="collapsible">
                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
                        <!-- SortByFieldName -->
                        <div class="form-field">
                            <label asp-for="SortByFieldName"></label>
                            <select asp-for="SortByFieldName" class="form-control">
                                @foreach ((string fieldName, string fieldDisplayName) in Model.SortByFieldNameOptions)
                                {
                                    <option value="@fieldName">
                                        @fieldDisplayName
                                    </option>
                                }
                            </select>
                        </div>

                        <!-- SortByAscending -->
                        <div class="form-field">
                            <label asp-for="SortByAscending"></label>
                            <select asp-for="SortByAscending" class="form-control">
                                <option value="@true">Từ nhỏ đến lớn</option>
                                <option value="@false">Từ lớn đến nhỏ</option>
                            </select>
                        </div>

                        <!-- ResultsPerPage -->
                        <div class="form-field">
                            <label asp-for="ResultsPerPage"></label>
                            <select asp-for="ResultsPerPage" class="form-control">
                                @foreach (int option in resultsPerPageOptions)
                                {
                                    <option value="@option">@option</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <partial name="Ui/_Paginator"/>

    <!-- Results Table -->
    <div class="panel">
        <div class="panel-header">
            <span class="panel-header-title">Danh sách kết quả</span>
            <div class="flex gap-3 items-center">
                <a href="@ViewBag.CreateRoutePath" class="btn btn-sm btn-panel-header gap-1">
                    <i class="bi bi-plus-lg"></i>
                    <span>Tạo mới</span>
                </a>
            </div>
        </div>

        <div class="panel-body">
            @RenderBody()
        </div>
    </div>

    <!-- Pagination -->
    <partial name="Ui/_Paginator"/>
</form>

@section Styles
{
    @await RenderSectionAsync("Styles", required: false)
}

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}

@section PageDescription
{
    @await RenderSectionAsync("PageDescription", required: true)
}
