@model CustomerUpsertModel
@functions {
    CustomerListModel CustomerListModel => ViewBag.CustomerListModel;
}

<div class="panel">
    <div class="panel-header">
        <span class="panel-header-title">
            Người giới thiệu
        </span>
    </div>
    
    <div class="panel-body flex justify-stretch items-center gap-3 p-3">
        @if (Model.PickedIntroducer is not null)
        {
            <div class="flex-1">
                <a asp-new-tab="@true"
                        asp-action="Detail"
                        asp-controller="Customer"
                        asp-route-id="@Model.PickedIntroducer.Id"
                        class="font-bold">
                    @Model.PickedIntroducer.FullName
                </a>
                
                <span class="text-sm">
                    @Model.PickedIntroducer.NickName
                </span>
            </div>
            
            <button id="introducer-unpick-submit-button" class="btn" type="submit">
                <i class="bi bi-x-lg"></i>
            </button>
            
            <input asp-for="PickedIntroducerId" type="hidden" form="@ViewBag.FormId" />
        }
        else
        {
            <partial name="~/Views/Customer/CustomerUpsert/_IntroducerPanelCustomerList.cshtml"
                    model="@CustomerListModel" />
        }
    </div>
</div>