@model CustomerBasicModel

<form id="customer-upsert-unpick-introducer-form"
        class="flex items-center gap-3 flex-1"
        asp-action="UpsertCustomerListPartial"
        asp-controller="Customer"
        method="get">
    <img src="@Model.AvatarUrl" class="img-thumbnail size-14" alt="@Model.FullName"/>

    <div class="flex-1">
        <a asp-new-tab="@true"
                asp-action="Detail"
                asp-controller="Customer"
                asp-route-id="@Model.Id"
                class="text-lg font-bold">
            @Model.FullName
        </a>
        <br/>
        <span class="text-sm opacity-50">
            @Model.NickName
        </span>
    </div>

    <button class="btn gap-1 introducer-unpick-button" type="submit">
        <i class="bi bi-x-lg"></i>
        <span class="hidden md:inline">Bỏ chọn</span>
    </button>
    
    @if (ViewBag.CustomerListExcludedId != null)
    {
        <input name="excludedId" value="@ViewBag.CustomerListExcludedId" type="hidden" />
    }
</form>