@model AbstractListModel
@{
    bool IsPageExceedingSmallScreenRange(int page)
    {
        return page < Model.SmallScreenStartingPage || page > Model.SmallScreenEndingPage;
    }
    
    bool IsPageExceedingLargeScreenRange(int page)
    {
        return page < Model.LargeScreenStartingPage || page > Model.LargeScreenEndingPage;
    }

    string ComputePageButtonClassName(int page)
    {
        List<string> classNames = new() { "btn min-w-8.5 pagination-button" };
        if (IsPageExceedingSmallScreenRange(page))
        {
            classNames.Add("hidden sm:flex");
        }

        if (page == Model.Page)
        {
            classNames.Add("btn-primary");
        }

        return string.Join(" ", classNames);
    }
}

@if (Model.PageCount > 1)
{
    <div class="flex flex-row justify-center gap-2">
        @if (IsPageExceedingSmallScreenRange(1))
        {
            <div class="flex gap-2 @(IsPageExceedingLargeScreenRange(1) ? null : "sm:hidden")">
                <input type="submit" asp-for="Page" value="1" class="btn min-w-8.5 pagination-button" />
                <span>...</span>
            </div>
        }
        
        @for (int page = Model.LargeScreenStartingPage; page <= Model.LargeScreenEndingPage; page++)
        {
            <input type="submit" asp-for="Page" value="@(page)" class="@ComputePageButtonClassName(page)" />
        }
        
        @if (IsPageExceedingSmallScreenRange(Model.PageCount))
        {
            <div class="flex gap-2 @(IsPageExceedingLargeScreenRange(Model.PageCount) ? null : "sm:hidden")">
                <span>...</span>
                <input type="submit" asp-for="Page" value="@Model.PageCount" class="btn min-w-8.5 pagination-button" />
            </div>
        }
    </div>
}

